<div class="container">

    <table class="table table-striped">
        <thead>
            <tr>
                <th>S.No.</th>
                <th>Electronic Name</th>
                <th>Electronic Price</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let electronic of electronics;let rowIndex=index">
                <td>{{rowIndex+1}}</td>
                <td>{{electronic.name}}</td>
                <td>{{electronic.price}}</td>
            </tr>
        </tbody>
    </table>
        <div class="btn-group">
            <button class="nav-link" id="addButton" [routerLink]="['/electronic-store']">Add Electronic</button>
            <button class="nav-link" id="deleteButton" [routerLink]="['/electronic-delete']">Delete Electronic</button>
            <button class="nav-link" id="updateButton" [routerLink]="['/electronic-update']">Update Electronic</button>
        </div>

</div>
