<h3>Cart Info</h3>
<table border="1">
    <tr>
        <th>Option</th>
        <th>Id</th>
        <th>Name</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Sub Total</th>
    </tr>
    <tr *ngFor="let item of items">
        <td align="center">
            <a (click)="remove(item.electronic._id)">&#10060;</a>
        </td>
        <td>{{item.electronic._id}}</td>
        <td>{{item.electronic.name}}</td>
        <td>{{item.electronic.price}}</td>
        <td>{{item.quantity}}</td>
        <td>{{item.electronic.price * item.quantity}}</td>
    </tr>
    <tr>
        <td colspan="6" align="right">Total</td>
        <td>{{total}}</td>
    </tr>
</table>

<input type="button" value="checkOut" (click)="checkOut()"/>

{{cartInfo}}
